@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-background {
  background: linear-gradient(139.43deg, #2B2B2B 6.41%, #19191A 76.94%);
}

.menu-button:hover {
  background: radial-gradient(100% 341.37% at 0% 24.29%, #5C1693 0%, #201DAD 100%);
}